.menu {
    width: 100%;
    min-height: 60px;
    background-color: #226E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

.buttonLogout{
    font-size: 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}

@media screen and (min-width: 430px){
    .menu {
        flex-direction: row;
        justify-content: space-between;
    }
}