.fieldInput{
    width: 100%;
    height: 70px;
    background-color: rgba(153, 153, 153, 0.4);
    border: 2px solid rgba(126,126,126,0.1);
    border-radius: 5px;
    position: relative;
    padding-top: 1em;
    margin: 20px 0;
}

.fieldInput:focus-within{
    border-color: black;
    background-color: transparent;
}

.input {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    min-width: 180px;
    font-size: 2em;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
    background-color: transparent;
    font-weight: 800;
}

.input::placeholder{
    color:transparent;
}


.fieldLabel{
    pointer-events: none;
    position: absolute;
    top: 5px;
    left: 20px;
    margin-top: .5em;
    font-size: 1.5em;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    color: gray;
    text-transform: uppercase;
}

.fieldInput input:focus + label,
.fieldInput input:not(:placeholder-shown) + label{
  font-size: 1em;
  margin-top: 0;
  color: gray;
}

.fieldPlaceholder{
    opacity: 0;
    text-transform: uppercase;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 20px;
}

.select{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 2em;
    border: none;
}


.fieldInput .select:focus + label,
.fieldInput .select:not(:placeholder-shown) + label{
  font-size: 1em;
  margin-top: 0;
  color: gray;
}

